<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>calapeña</title>
</head>
<body>
<h1>Selecione alguna de las  Opiones </h1>

<ul>
	<li><a href="calculoSuma?num1=70&num2=10">suma</a></li>
	<li><a href="calculoMultiplica?num1=130&num2=10">multiplica</li>
	<li><a href="calculoDivide?num1=20&num2=5">division</li>
	<li><a href="calculoResta?num1=100&num2=50">resta</li>
	<li><a href="calculoPotencia?num1=2&num2=4">potencia</li>
	<li><a href="calculoRaiz?num1=16">raiz</li>
	<li><a href="calculoRaizN?num1=8&num2=3">raizN</li>

</ul>

</body>
</html>